.popover {
  margin: 0;
  top: calc(anchor(bottom) + 5px);
  left: anchor(left);
  font-weight: normal;
  cursor: default;
  max-width: 250px;
}
.model_rule_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  font-weight: bold;
}

.header_tr {
  background-color: lightgrey;
  color: grey;
  font-style: italic;
}
.td_number {
  text-align: center;
}

.header_grid {
  display: grid;
  grid-template-columns: 55px 2fr 1fr 1fr 1fr;
}
.unit_name {
  font-weight: bold;
  grid-column: span 3;
}
.unit_icon {
  width: 50px;
  grid-row: span 2;
}
