.popover {
  margin: 0;
  top: calc(anchor(bottom) + 5px);
  left: anchor(left);
  font-weight: normal;
  cursor: default;
  max-width: 250px;
}
.model_rule_button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  font-weight: bold;
}

.header_tr {
  background-color: lightgrey;
  color: grey;
  font-style: italic;
}
